name: busybox arm64 build
on:
  workflow_dispatch:
env:
  DEST_DIR: /tmp/busybox  # Location to install compiled binaries for packaging.
  PKG_NAME: busybox.arm64.tar.gz
permissions:
  contents: write
jobs:
  report:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4
      - name: Installing build dependencies...
        run: |
          sudo apt-get update
          sudo apt-get install bzip2 libssl-dev
      - name: Cloning source...
        run: |
          cd ~
          git clone https://git.busybox.net/busybox/ --depth=1
      - name: Configuring...
        # Configure with default selections, then customize non-interactively.
        run: |
          cd ~/busybox
          sudo make defconfig
          sudo sed -i \
            -e 's|# CONFIG_STATIC is not set|CONFIG_STATIC=y|' \
            -e "s|CONFIG_PREFIX=\"\./_install\"|CONFIG_PREFIX=\"$DEST_DIR\"|"\
            -e 's|# CONFIG_RFKILL is not set|CONFIG_RFKILL=y|' \
            -e 's|CONFIG_TC=y|# CONFIG_TC is not set|' \
            -e 's|CONFIG_FEATURE_TC_INGRESS=y|# CONFIG_FEATURE_TC_INGRESS is not set|' \
            .config
      - name: Compiling...
        run: |
          cd ~/busybox
          sudo make
      - name: Installing...
        run: |
          cd ~/busybox
          sudo make install
          sudo chmod u+s $DEST_DIR/bin/busybox
      - name: Adding license...
        run: |
          sudo mkdir -p $DEST_DIR/usr/share/doc/busybox
          sudo cp ~/busybox/LICENSE $DEST_DIR/usr/share/doc/busybox
      - name: Packaging...
        run: |
          cd $DEST_DIR
          tar -zcvf $GITHUB_WORKSPACE/$PKG_NAME .
      - name: Uploading...
        run: |
          cd $GITHUB_WORKSPACE
          git config --global user.name "$GITHUB_REPOSITORY_OWNER"
          git config --global user.email "$GITHUB_REPOSITORY_OWNER@users.noreply.github.com"
          git add $PKG_NAME
          git commit -am "Triggered binary build"
          git push
